; Copyright (c) 2018 Workonline Communications (Pty) Ltd. All rights reserved.
;
; The contents of this file are licensed under the Apache License version 2.0
; (the "License"); you may not use this file except in compliance with the
; License.
;
; Unless required by applicable law or agreed to in writing, software
; distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
; WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
; License for the specific language governing permissions and limitations under
; the License.

; default dispatcher options
[defaults]
query: native
format: json
host: whois.radb.net
port: 43
policy: strict

; available query classes
[query-classes]
native: rptk.query.native.NativeQuery
bgpq3: rptk.query.bgpq3.Bgpq3Query

; available formatter classes
[format-classes]
test: rptk.format.test.TestFormat
json: rptk.format.jsonf.JsonFormat
yaml: rptk.format.yamlf.YamlFormat
plain: rptk.format.plain.PlainFormat
ios: rptk.format.ios.IosFormat
ios_null: rptk.format.ios_null.IosNullFormat
junos: rptk.format.junos.JunosFormat
bird: rptk.format.bird.BirdFormat
