{# Cisco IOS prefix-list template #}
!
{# loop through address families #}
{% for afi, entries in result.iteritems() %}
{# change 'ipv4' to 'ip' #}
{% if afi == "ipv4" %}
{% set afi = "ip" %}
{% endif %}
{# check that we have entries for this afi #}
{% if entries|count > 0 %}
{# remove existing prefix-list #}
no {{ afi }} prefix-list {{ name }}
{# loop through entries #}
{% for entry in entries %}
{% if entry.exact is false %}
{% if entry['greater-equal'] is defined %}
{% set ge %} ge {{ entry['greater-equal'] }}{% endset %}
{% endif %}
{% if entry['less-equal'] is defined %}
{% set le %} le {{ entry['less-equal'] }}{% endset %}
{% endif %}
{% endif %}
{{ afi }} prefix-list {{ name }} permit {{ entry.prefix }}{{ ge }}{{ le }}
{% endfor %}
{% endif %}
!
{% endfor %}
!
