{#
Copyright (c) 2018 Workonline Communications (Pty) Ltd. All rights reserved.

The contents of this file are licensed under the Apache License version 2.0
(the "License"); you may not use this file except in compliance with the
License.

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
#}
{# Cisco IOS prefix-list template #}
!
{# loop through results #}
{% for name, result in results.items() %}
{# loop through address families #}
{% for afi, entries in result.items() %}
{# change 'ipv4' to 'ip' #}
{% if afi == "ipv4" %}
{% set afi = "ip" %}
{% endif %}
{# check that we have entries for this afi #}
{% if entries|count > 0 %}
{# remove existing prefix-list #}
no {{ afi }} prefix-list {{ name }}
{# add prefix list description #}
{{ afi }} prefix-list {{ name }} description built by rptk at {{ now }}
{# loop through entries #}
{% for entry in entries %}
{% if entry['greater-equal'] is defined %}
{% set ge %} ge {{ entry['greater-equal'] }}{% endset %}
{% else %}
{% set ge = "" %}
{% endif %}
{% if entry['less-equal'] is defined %}
{% set le %} le {{ entry['less-equal'] }}{% endset %}
{% else %}
{% set le = "" %}
{% endif %}
{{ afi }} prefix-list {{ name }} seq {{ loop.index }} permit {{ entry.prefix }}{{ ge }}{{ le }}
{% endfor %}
{% endif %}
!
{% endfor %}
{% endfor %}
end
